:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-5: #2d8f85;
  --clr-5: #637c54;
}

@import url("/style/normalize.css");
@import url("/pages/header.css");
@import url("/pages/about.css");
@import url("/pages/nav.css");
@import url("/pages/skills.css");
@import url("/pages/staff.css");
@import url("/pages/membership.css");

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
