.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 2o0px;
}
.bubble {
  width: 50px;
  animation: bubble 7s linear infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
    opacity: 0;
  }
}

.bubble:nth-child(1) {
  animation-duration: 4s;
  width: 40px;
}

.bubble:nth-child(6) {
  animation-duration: 4s;
  width: 90px;
}

.bubble:nth-child(7) {
  animation-duration: 6s;
  width: 80px;
}

.bubble:nth-child(10) {
  animation-duration: 1s;
}

.bubble:nth-child(2) {
  animation-duration: 7s;
  width: 20px;
}

.bubble:nth-child(9) {
  animation-duration: 2s;
}

.bubble:nth-child(8) {
  animation-duration: 7s;
  width: 40px;
}

.bubble:nth-child(3) {
  animation-duration: 2s;
}

.bubble:nth-child(5) {
  animation-duration: 2s;
  width: 60px;
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
