.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  padding: 20px;
  background-image: url(/images/About/About-logo.svg);
  background-repeat: no-repeat;
  background-color: rgba(31, 32, 33, 0.743);
  background-size: cover;
  background-attachment: fixed;
  background-position: 200px 200px;
}

.about-container {
  margin: 0 auto;
}
.about-header,
.about-content,
.skills-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.about-header {
  max-width: 500px;
}
.about-heading {
  font-size: 40px;
}
.about-subheading {
  color: cyan;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: for styled image edges */
}

.about__description {
  text-align: justify;
  max-width: 500px;
}
.about__description-1 {
  font-size: 20px;
  padding: 10px;
  color: #ffe357;
}

.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fab {
  font-size: 20px;
}

@media (max-width: 768px) {
  .about-content,
  .skills-container {
    flex-direction: column;
  }

  .description,
  .skills-icons {
    text-align: center;
    margin-top: 20px;
  }
}
