.footer {
  background-color: #0000008f; /* Dark background for modern look */

  padding: 40px 0;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer__logo {
  max-width: 56px;
  margin: 60px auto 20px;
}

.footer__nav {
  margin-bottom: 20px;
}

.footer__link {
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: yellow;
}

.footer__link:hover,
.footer__link:focus {
  color: cyan; /* Highlight color on hover */
}

.footer__social {
  margin-bottom: 20px;
}

.footer__social-link {
  display: inline-block;
  margin-right: 10px;
  color: cyan;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: yellow; /* Highlight color on hover */
}

.footer__copy {
  font-size: 0.875rem;
  margin-top: 40px;
  margin-bottom: 0;
}

.footer__name {
  color: yellow; /* Highlight color for the name */
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline white;
  line-height: 90px;
}

.footer__name-cyan {
  color: cyan; /* Highlight color for the name */
}
