.style-elegance {
  background-color: #000;
  text-align: center;
  padding: 60px;
  color: #fff;
}

.philosophy {
  padding: 40px 20px;
  text-align: center;
}

.philosophy__content {
  max-width: 800px;
  margin: 0 auto;
}

.philosophy__quote {
  font-style: italic;
  margin: 0 auto;
  line-height: 1.5;
  position: relative;
  padding: 20px;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.philosophy__quote cite {
  display: block;
  color: rgba(255, 255, 0, 0.397);

  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
}

.style-elegance__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 0 50px;
  margin: 0 auto;
  max-width: 700px;
}

.gallery__item {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.gallery__image {
  width: 100%;
  border-radius: 20px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery__image:hover {
  transform: scale(1.1);
}

.gallery__description {
  grid-column: 1 / -1; /* Makes the description span all columns */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  transition: transform 0.5s ease;
  transform: translateY(100%);
  text-align: center;
}

.gallery__item:hover .gallery__description {
  transform: translateY(0);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .gallery__item {
    grid-template-columns: 1fr;
  }
}
