/* Keyframes for the pulsate animation */
@keyframes pulsate {
  0% {
    opacity: 0; /* Start of the animation, circle is invisible */
  }
  50% {
    opacity: 1; /* Middle stage, opacity is 0.6 */
  }
  100% {
    opacity: 0; /* End of the animation, circle is invisible */
    transform: scale(1.8); /* Scale the circle, adjust value as needed */
  }
}

.header {
  position: relative;
  text-align: center;
  text-decoration: none; /* Remove underline */
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  flex-direction: row;
  margin: 0 auto;
}
/* Header Info */
.header__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  z-index: -1;
  margin: 0 auto;
  height: auto;
  width: 60px;
  max-width: fit-content;
  animation: pulsate 1.3s ease-in-out infinite; /* Apply the animation */
}

.info__title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 100px;
  margin: 40px auto 0;
  letter-spacing: 1px;
  line-height: 90px;
}

.info__title-span-x {
  color: #daa51f;
  font-size: 100px;
}
.info__title-span-s {
  color: #daa51f;
  font-size: 90px;
}
.info__subtitle {
  color: #5e7342;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 40px;
}

.info__description {
  max-width: 750px;
  color: #000000;
  padding: 20px;
  font-size: 38px;
  text-align: justify;
  margin-top: 0;
  font-weight: 500;
  line-height: 40px;
}
.info__places {
  color: #bc8b51;
  font-weight: 500;
}

.nav {
  margin-top: 280px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger-menu {
  display: none; /* Show the hamburger menu */
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  list-style: none;
  text-decoration: none;
  margin-bottom: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 30px;
}
.nav__link:hover {
  color: white;
  background-color: #c96b1fd0;
  transform: translateY(2px); /* Slight downward movement */
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); /* Subtle text shadow */
}

.nav__link--contacts {
  color: #c96b1fd0;
  background-color: #ffffff;
  padding-left: 30px;
  border-radius: 20px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease,
    text-shadow 0.3s ease; /* Add smooth transitions */
}

.nav__link--contacts:hover {
  color: white;
  background-color: #1fc9c352;
  transform: translateY(-2px); /* Slight upward movement */
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); /* Subtle text shadow */
}

.portfolio__image {
  margin-top: 20px;
  max-width: 450px;
  height: auto;
  /* Clip-path
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    25% 100%,
    25% 75%,
    0% 75%
  );
   */

  border-radius: 150px 0px 75px 180px;
  transition: transform 0.2s ease-in-out;
}

.social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}

.social-media-link {
  text-decoration: none; /* Remove the underline from links */
  color: #9f9005; /* Set your desired icon color */
  font-size: 70px; /* Set your desired icon size */
  transition: color 0.3s ease; /* Add transition to the color property */
}

.social-media-link:hover {
  font-size: 70px; /* Set your desired icon size */
  color: #000000; /* Change icon color on hover */
}

.portfolio__image:hover {
  transform: scale(1.08);
}

.nav__call-to-actions {
  margin: 10px auto 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 600;
}

/* Media queries */

@media screen and (max-width: 1402px) {
  .info__description {
    max-width: 550px;
    font-size: 40px;
  }
  .portfolio__image {
    max-width: 800px;
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1205px) {
  /*Page*/
  .page {
    font-family: "Arial", sans-serif;
    padding: 10px 10px;
  }

  /* Header */
  .header__content {
    flex-direction: column-reverse;
    position: relative;
  }
  .header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: auto;
    max-width: 100px;
  }
  .info__title {
    font-size: 60px;
    margin-bottom: 10px;
    line-height: 60px;
  }

  .info__title-span-x {
    font-size: 70px;
  }
  .info__title-span-s {
    font-size: 50px;
  }
  .info__subtitle {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .info__description {
    max-width: 950px;
    font-size: 38px;
    padding: 15px;
    line-height: 50px;
    margin-bottom: 0;
    font-weight: 500;
  }

  /* Navigation */
  .nav {
    margin: 100px auto 0;
  }
  .hamburger-menu {
    position: absolute;
    top: 0px;
    right: 5px;
    display: block;
    cursor: pointer;
    font-size: 60px;
    border: none;
    background-color: transparent;
  }

  .nav__links {
    /* Initial state: hidden */
    display: none;
    /* Additional styles */
  }

  .nav__links.active {
    /* When active, show the menu */
    display: block;
    position: absolute;
    top: 70px;
    right: 10px;
    margin-top: 0%;
    text-align: end;
    padding-left: 0;
  }
  .nav__link {
    font-size: 20px;
    line-height: 35px;
  }

  .portfolio__image {
    max-width: 600px;
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
  }

  .social-media-links {
    position: absolute;
    top: 220px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 0;
    padding: 0;
  }
  .social-media-link {
    font-size: 60px; /* Set your desired icon size */
  }
  .nav__call-to-actions {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  /*Page*/
  .page {
    font-family: "Arial", sans-serif;
    line-height: 1;
    padding: 10px 10px;
  }

  /* Header */
  .header__content {
    flex-direction: column-reverse;
    position: relative;
  }
  .header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: auto;
    max-width: 100px;
  }
  .info__title {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .info__title-span-x {
    font-size: 70px;
  }
  .info__title-span-s {
    font-size: 50px;
  }
  .info__subtitle {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .info__description {
    font-size: 35px;
    padding: 15px;
    line-height: 40px;
    margin-bottom: 0;
  }

  /* Navigation */
  .nav {
    margin: 150px auto 0;
  }
  .hamburger-menu {
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
    cursor: pointer;
    font-size: 60px;
    border: none;
    background-color: transparent;
  }

  .nav__links {
    /* Initial state: hidden */
    display: none;
    /* Additional styles */
  }

  .nav__link {
    font-size: 20px;
  }

  .portfolio__image {
    max-width: 500px;
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
  }
  .social-media-links {
    top: 320px;
    gap: 20px;
  }
  .social-media-link {
    font-size: 50px; /* Set your desired icon size */
  }
  .nav__call-to-actions {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .portfolio__image {
    max-width: 400px;
  }

  .social-media-links {
    top: 250px;
  }
}

@media screen and (max-width: 635px) {
  .info__subtitle {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
  }

  .social-media-links {
    position: absolute;
    top: 160px;
    right: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    padding: 0;
  }

  .social-media-link {
    font-size: 30px; /* Set your desired icon size */
  }
  .nav__link {
    font-size: 20px;
    line-height: 30px;
  }

  .portfolio__image {
    margin-top: 50px;
  }
}
