/* Keyframes for the pulsate animation */
@keyframes pulsate {
  0% {
    opacity: 0; /* Start of the animation, circle is invisible */
  }
  50% {
    opacity: 1; /* Middle stage, opacity is 0.6 */
  }
  100% {
    opacity: 0; /* End of the animation, circle is invisible */
    transform: scale(1.8); /* Scale the circle, adjust value as needed */
  }
}

.header {
  text-align: center;
  text-decoration: none; /* Remove underline */
  border: 1px solid #c81919; /* Add a border */
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #c81919; /* Add a border */
}

.header__info {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #c81919; /* Add a border */
}

.header__logo-container {
  padding-top: 40px;
}
.header__logo {
  height: auto;
  max-width: 140px;
  margin-right: auto; /* Push the logo to the left */
  animation: pulsate 1.8s ease-in-out infinite; /* Apply the animation */
  border: 1px solid #c81919; /* Add a border */
}

.info__title {
  max-width: 700px;
  font-weight: 500;
  margin: 0 auto;
  font-size: 120px;
  letter-spacing: 1px;
  border: 1px solid #c81919; /* Add a border */
}
.portfolio__subtitle {
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 600;
  animation: slideIn 1s infinite;
  border: 1px solid #c81919; /* Add a border */
}
.info__title-span-x {
  color: #daa51f;
  font-size: 150px;
  border: 1px solid #c81919; /* Add a border */
}
.info__title-span-s {
  color: #daa51f;
  font-size: 90px;
  border: 1px solid #c81919; /* Add a border */
}
.info__subtitle {
  color: #5e7342;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 1px;
  border: 1px solid #c81919; /* Add a border */
}

.info__description {
  color: #000000;
  font-size: 50px;
  text-align: justify;
  margin-top: 0;
  border: 1px solid #c81919; /* Add a border */
}

.social-media-links {
  margin: 40px auto 0;
  max-width: 20px;
  display: flex;
  justify-content: center; /* Center the links */
  gap: 40px; /* Add some space between the links */
  border: 1px solid #c81919; /* Add a border */
}

.social-media-links a {
  text-decoration: none; /* Remove the underline from links */
  color: #9f9005; /* Set your desired icon color */
  font-size: 70px; /* Set your desired icon size */
  border: 1px solid #c81919; /* Add a border */
}

.social-media-links a:hover {
  color: #000000; /* Change icon color on hover */
}

/* Media query for screens with a maximum width of 320 pixels */
@media screen and (max-width: 320px) {
  /* Styles specific to screens with a width of 320 pixels or less */

  /* Reverse the order of the flex container's items in a column direction */
  .header__content {
    flex-direction: column-reverse;
  }
  /* Add more styles as needed for this specific screen size */
}
