/* Waving Hand */
@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(20deg);
  }
}
/* Header Styles */

.nav__link:hover,
.name-x,
.name-s,
.header__place {
  color: #ffd700;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  padding: 20px;
}

.header__content {
  margin: 20px auto 80px;
}
/* Header Navigation */
.header__nav {
  margin: 90px auto 40px;
}
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
  z-index: 100;
}

.nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.nav__link:hover {
  transform: scale(1.1); /* Slightly enlarge link on hover */
}

.nav__link--contact {
  color: #ffd700;
  margin-left: 130px;

  transition: color 0.3s ease, transform 0.3s ease; /* Ensure smooth transition for hover effects */
}

.nav__link--contact:hover {
  color: rgb(255, 255, 255); /* Change color to white on hover */
  transform: translateY(-5px); /* Move up slightly on hover */
}

/* Header Container Styles */
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 160px;
}

.header__info {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-bottom: 20px;
}

.header__heading {
  display: flex;
  flex-direction: column;
  align-content: end;
  text-align: start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  word-spacing: 5px;
}
.header__heading-1 {
  font-size: 140px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  word-spacing: 5px;
}

.header__heading-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.greetings {
  margin: 0;
  color: aqua;
}
.waving-hand {
  display: inline-block; /* Allows the transform to be applied correctly */
  font-size: 30px; /* Adjust font size for large screens */
  margin-bottom: 0; /* Spacing below the heading */
  animation: wave-animation 2.5s infinite; /* Apply the animation infinitely */
  transform-origin: 70% 70%; /* Pivot around the wrist of the hand */
}

/* Header Social Styles */
.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__subheading {
  font-size: 28px;
  font-weight: 300 !important;
  border-top: dashed 1px rgb(255, 255, 255);
  border-bottom: dashed 1px rgb(255, 255, 255);
  margin-bottom: 0;
}
.social__image {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  object-fit: fill;

  box-shadow: #8d7022 1px 0px 300px 8px;
}

.social__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 1.5%;
  top: 40%;
  gap: 10px;
  z-index: 100;
}

.social__link {
  display: inline-block;
  height: 40px;
  background-size: cover;
}

.fab {
  font-size: 20px;
  color: aqua;
}

.header__description {
  text-align: justify;
  max-width: 400px;
}
.header__paragraph {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.header__place {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

/* Max Width 768px | Media Queries */
@media (max-width: 768px) {
  /* Header Navigation */
  .hamburger {
    display: block;
    color: white;
    font-size: 40px;
    position: fixed;
    top: 40px;
    left: 5px;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 87px;
    left: 15px;
    padding: 0;
  }
  .nav__link--contact {
    margin-left: 0;
  }
  /* Header Container Styles */

  .header__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .header__info {
    margin-bottom: 20px;
    align-self: center;
  }
  .header__description {
    text-align: center;
    max-width: 500px;
  }
  .header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .social__image {
    max-width: 180px;
    margin-bottom: 20px;
  }

  .social__links {
    display: flex;
  }

  .fab {
    font-size: 18px;
  }

  /* About section */
}

/* Max Width 480px | Media Queries */
@media (max-width: 480px) {
  /* Header Navigation adjustments for smaller screens */
  .hamburger {
    display: block;
    color: white;
    font-size: 30px; /* Adjusted for smaller screen */
    position: fixed;
    top: 20px; /* Adjusted positioning */
    right: 20px; /* Positioning to the right for easier access */
    z-index: 100; /* Ensure it's above other content */
  }

  .nav__list {
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 60px; /* Adjusted for smaller header */
    left: 0; /* Take full width */
    right: 0; /* Take full width */
    padding: 20px; /* Added padding */
    background-color: rgba(0, 0, 0, 0.486); /* Semi-transparent background */
    color: white; /* Text color */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensure padding doesn't add to width */
    z-index: 99; /* Ensure list is below hamburger icon */
  }

  .nav__link--contact {
    margin-left: 0;
  }

  /* Adjustments to header container and child elements */
  .header__container {
    flex-direction: column;
    justify-content: flex-start; /* Align content to the start */
    align-items: center;
    gap: 20px; /* Reduced gap */
  }

  .header__heading {
    font-size: 24px; /* Adjusted size */
  }

  .header__subheading {
    font-size: 10px; /* Adjusted size */
  }

  .waving-hand {
    font-size: 16px; /* Adjusted size */
  }

  .header__paragraph {
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
  }

  .header__description {
    text-align: center;
    max-width: 100%; /* Full width to utilize space */
    padding: 0 20px; /* Add padding */
  }

  .header__social {
    display: flex;
    flex-direction: row; /* Change direction to row for compact layout */
    align-items: center;
    justify-content: center; /* Center social links */
    gap: 10px; /* Adjust gap */
    padding-top: 20px; /* Add spacing above */
  }
  .social__image {
    max-width: 100px; /* Adjusted size */
  }
  .social__links {
    right: 0;
  }
  .fab {
    font-size: 16px;
  }
}
