.projects {
  text-align: center;
  padding: 20px;
  background-color: #0a0a0a;
}

.projects__title {
  margin: 60px 0 20px;
  animation: fadeInUp 2s ease-out;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px auto 80px;
  max-width: 900px;
}

.project {
  max-width: 230px; /* Adjust based on your preference */
  box-shadow: 0 4px 6px rgba(251, 250, 244, 0.545);
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  padding: 15px;
}

.project__image {
  max-width: 180px;
  height: 150px;
}
.project__image:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.project__links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.project__link {
  text-decoration: none;
  color: yellow;
  background-color: #5a716d;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.project__link:hover {
  background-color: #0056b3;
}
/* Media query for devices up to 480px */
@media (max-width: 480px) {
  .projects__container {
    gap: 15px; /* Reduces the gap between projects for tighter layout */
    margin: 20px auto; /* Adjusts the margin for a balanced look */
  }

  .project {
    max-width: 200px; /* Slightly reduces the project box width for better fit */
    padding: 10px; /* Adjusts padding for consistency */
  }

  .project__image {
    max-width: 100%; /* Allows the image to be fully responsive within the container */
    height: auto; /* Adjusts the height automatically to maintain aspect ratio */
  }

  .project__link {
    padding: 6px 12px; /* Adjusts the padding for a more compact look */
    font-size: 0.8rem; /* Slightly reduces the font size for better readability */
  }
}

/* Media query for devices up to 320px */
@media (max-width: 320px) {
  .projects__container {
    gap: 10px; /* Further reduces the gap for very small screens */
  }

  .project {
    max-width: 100%; /* Allows project box to fill the container for a full-width look */
    padding: 8px; /* Adjusts padding for space efficiency */
  }

  .project__image {
    max-width: 100%; /* Ensures image scales down appropriately */
    height: auto; /* Keeps image aspect ratio intact */
  }

  .project__link {
    padding: 5px 10px; /* Further reduces the padding for a snug fit */
    font-size: 0.7rem; /* Reduces the font size for better fit and readability */
  }
}
