body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.blog-header__title,
.blog-footer__content {
  color: #fff;
  background-color: #1d2e0c;
  padding: 1rem 0;
  text-align: center;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  padding: 20px;
}

.blog-content,
.blog-sidebar {
  padding: 20px;
}

.post__title,
.post__date,
.post__text,
.post__text-highlight {
  margin: 10px 0;
}

.post__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.post__image {
  width: 100%;
  transition: transform 0.3s ease;
}

.post__image--small {
  max-width: 50%;
}

.post__image:hover,
.post__image--small:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.post__text-highlight {
  color: rgb(234, 7, 45);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
}
